nav.footer__nav.footer__nav--inactive
  ul.footer__ul
    li.footer__li.footer__li--active
      p.footer__p
        a(href="" title="1. Tamaño").footer__a.
           1
    li.footer__li
      p.footer__p
        a(href="" title="2. Edad").footer__a.
           2
    li.footer__li
      p.footer__p
        a(href="" title="3. Conducta").footer__a.
           3
    li.footer__li
      p.footer__p
        a(href="" title="4. Talla").footer__a.
           4
    li.footer__li
      p.footer__p
        a(href="" title="5. Juego").footer__a.
           5
    li.footer__li
      p.footer__p
        a(href="" title="6. Social").footer__a.
           6
    li.footer__li
      p.footer__p
        a(href="" title="7. Cuidado").footer__a.
           7
    li.footer__li
      p.footer__p.
        Resultado
