head
  meta(charset='UTF-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title.
      IAMS | Descubre la personalidad de tu perro
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=yes')

  // Place favicon.ico in the root directory
  link(rel='apple-touch-icon', type="image/x-png", href='/favicon.png')

  // Standard Favicon
  link(rel="icon", type="image/x-icon", href="/favicon.ico")

  // For iPhone 4 Retina display:
  link(rel="apple-touch-icon-precomposed", sizes="32x32", href="/favicon.png")

  // For iPad:
  link(rel="apple-touch-icon-precomposed", sizes="32x32", href="/favicon.png")

  link(rel="mask-icon", sizes="any", href="/favicon.png")

  link(rel="stylesheet", href="css/normalize.css")
  link(rel='stylesheet', href='css/main.css')
  script(src='js/vendor/modernizr-2.8.3.min.js')