header.header
  section.header__section
    a(href="index.html", alt="IAMS").header__a-logo
      img(src="assets/img/logoIAMS.svg" alt="IAMS").header__img
    nav.header__nav
      ul.header__ul
        li.header__li.header__li--active
          div.header__background
          p.header__p
            a(href="" title="1. Tamaño").header__a.
               1.<br />Tamaño
        li.header__li
          div.header__background
          p.header__p
            a(href="" title="2. Edad").header__a.
               2.<br />Edad
        li.header__li
          div.header__background
          p.header__p
            a(href="" title="3. Conducta").header__a.
               3.<br />Conducta
        li.header__li
          div.header__background
          p.header__p
            a(href="" title="4. Talla").header__a.
               4.<br />Talla
        li.header__li
          div.header__background
          p.header__p
            a(href="" title="5. Juego").header__a.
               5.<br />Juego
        li.header__li
          div.header__background
          p.header__p
            a(href="" title="6. Social").header__a.
               6.<br />Social
        li.header__li
          div.header__background
          p.header__p
            a(href="" title="7. Cuidado").header__a.
               7.<br />Cuidado
        li.header__li
          div.header__background
          p.header__p.
            Resultado
