@keyframes formIn
  from
    z-index: 1
  to
    z-index: 2
@keyframes formInOut
  from
    z-index: 1
  to
    z-index: 3
@keyframes headerIn
  from
    top: -80px
  to
    top: 0
@keyframes footerIn
  from
    bottom: -7%
  to
    bottom: 0
@keyframes slideIn
  from
    right: -100vw
  to
    right: 0vw
@keyframes slideOut
  from
    right: 0vw
  to
    right: -100vw
@keyframes slideDown
  from
    top: -100vh
  to
    top: 7vh
@keyframes resultsIn
  from
    right: -100vw
  to
    right: 0vw
@keyframes fillFooter
  from
    width: 0%
  to
    width: 100%
