html, body, main
.button
.header
  align-items: center
  display: flex
  flex-flow: row nowrap
  height: 80px
  justify-content: center
  .header__section
    align-items: center
    display: flex
    flex-flow: row wrap
    height: 80px
    justify-content: center
    width: calc( 194px + 830px )
  .header__a-logo
    width: 194px
    .header__img
      margin: 19px 10px
      width: 90%
  .header__nav
    display: block
    height: 80px
    margin: 0
    position: relative
    top: -80px;
    width: 830px
    .header__ul
      display: flex
      flex-flow: row nowrap
      height: 100%
      margin: 0 auto
      padding: 0
      width: 100%
      .header__li, .header__li--active
        box-sizing: border-box
        display: flex
        flex-flow: row nowrap
        height: 100%
        width: 103.75px
      .header__li
        background-color: $header__li--inactive-color
        border-right: 0.5px solid $header__li--inactive-border-color
        position: relative
        .header__background
          background-color: $header--active-background-color
          height: 100%
          left: 0
          position: absolute
          top: 0
          width: 0
          z-index: 0
        .header__p
          align-self: center
          color: $header__p--inactive-color
          display: inline-block
          font: normal 11px/1.5em $Gotham-Light
          margin: 0
          padding-left: 18px
          position: relative
          text-transform: uppercase
          z-index: 1
          .header__a
            color: inherit
            text-decoration: none
      .header__li--active
        background-color: transparent
        border-right: 1px solid
        border: 0 none transparent
        border-bottom: 5px solid $header__li-border-color
        .header__background
          animation: .5s ease 0s 1 normal forwards running fillFooter
        .header__p
          color: $header__p-color
  .header__nav--active
    animation: .5s ease 0s 1 normal forwards running headerIn
.section
  background-position: left top
  background-size: auto 100%
  .section__div
    position: absolute
    right: 3.75em
    width: 520px
  .section__img
    top: 45px
    right: -60px
    width: auto
  .section__img-logo
    margin: 180px auto 0
    width: 52%
  .section__h1
    clear: both
    color: $section__h1-color
    display: block
    font-size: 48px
    line-height: 1.3em
    margin: 40px 0 0
    text-shadow: unset
    .section__strong
      font-size: 60px
      color: $section__strong-color
    .section__span
  .section__a
    font-size: 17px
    left: 50%
    letter-spacing: 1px
    margin: 25px auto 0
    position: relative
    transform: translate( -50%, 0 )
.form
  padding: 7.7% 0 0
  right: 2.05vw;
  .fieldset
    align-items: center
    display: flex
    justify-content: center
    top: 7.8vw
    padding: 3.75em 0 0 // 60px 0 0
    .fieldset__h2
      font-size: 2.5em // 40px
      font-weight: bold
      line-height: 1em // 100px
      margin: 0
      padding: 0 3.5em // 0 140px
      .fieldset__legend
        font-size: 2.45em
        left: 4%
        top: 95%
    .fieldset__ul
      margin: 5.625em // 90px
      .fieldset__li
        margin: 0 4% !important
        width: 25%
        .fieldset__label
          .fieldset__figure
            .fieldset__img
            .fieldset__caption
              font-size: 1em // 16px
          .fieldset__radio
  .fieldset--intro
    .fieldset__ul
      .fieldset__li
        width: 25%
    .fieldset__buttons
      align-items: center
      display: flex
      flex-flow: row wrap
      margin: 50px auto 0
      justify-content: center
      width: 21.875em
      .button
        font-size: 1em
        &:nth-child( odd )
          margin-left: 0
        &:nth-child( even )
          margin-left: 1.875em
          margin-right: 0
        width: 9.625em
      .fieldset__cancel--active
      .fieldset__next--inactive
.form--overlay
  animation: 3s ease 0s 1 normal both running formInOut
.form--active
  animation: .1s ease 0s 1 normal forwards running formIn
.results
  .title.results__h3
  .results__wrapper
    .results__div--left
      .dog.results__img
    .results__div--right
      .results__h3
      .results__p
      .results__div
        .product.results__img
    .button.results__clear
  .footer
    display: none
.results--active
  animation: .5s ease-out 2s 1 normal both running resultsIn
.footer__nav
  display: none
.footer__nav--active
  animation: .5s ease .5s 1 normal forwards running footerIn