/* animation: duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
html, body, main
  background-color: $background-color
  display: table
  height: 100%
  position: relative
  width: 100%
main
  overflow: hidden
.button
  border-radius: 1.25em
  border: none
  cursor: pointer
  font-weight: bold
  padding: 1.1764705882em 2.0588235294em
  text-align: center
  text-decoration: none
  text-transform: uppercase
.header
  background-color: $header-color
  display: table
  height: 7%
  position: relative
  width: 100%
  z-index: 10
  .header__img
    width: 30% // 6.25em
    margin: 0.625em 1.25em
  .header__nav
    display: none
.section, .form, .results
  display: table
.section
  background: url( "../img/background.png" ) 40% bottom transparent
  background-size: cover
  height: 93vh
  position: absolute
  width: 100vw
  z-index: 2
  .section__div
  .section__img
    max-width: 253px
    position: absolute
    top: 1%
    right: 0
    width: 50%
  .section__img-logo
    display: block;
    margin: 39.0625vw auto 0.625em
    max-width: 284px
    text-shadow: 5px 5px 5px rgba(0,0,0,0.7)
    width: 60%
  .section__h1
    color: $mobile-section__h1-color
    font: 300 1.25em/1.2em $Gotham-Light
    font-size: 1.25em
    font-weight: normal
    text-align: center
    text-transform: uppercase
    text-shadow: 5px 5px 5px rgba(0,0,0,0.7)
    .section__strong
      font-family: $Gotham-Bold
      letter-spacing: 0.1px
    .section__span
      font-family: $Gotham-Book
      font-weight: 500
  .section__a
    background-color: $button-background-color
    color: $button-color
    font: normal 1em/1.2em $Gotham-Bold
    display: inline-block
    margin: 0 auto
    position: relative
    left: 50%
    transform: translate( -50%, 0 )
    &:hover
      background-color: $section__a--hover-color
.form
  box-sizing: border-box
  display: inline-flex
  flex-flow: row nowrap
  height: 100vh
  padding: 46 0 0
  position: absolute
  right: 0vw
  top: 0
  width: 100vw
  z-index: 1
  .fieldset
    align-items: flex-start
    background-color: $fieldset-background-color
    box-sizing: border-box
    display: flex
    flex-flow: row wrap
    height: 100vh
    justify-content: center
    padding: 13.125vw 0 150px
    position: absolute
    top: 0
    right: -100vw
    width: 100vw
    &:nth-child( 1 )
      z-index: 1
    &:nth-child( 2 )
      z-index: 2
    &:nth-child( 3 )
      z-index: 3
    &:nth-child( 4 )
      z-index: 4
    &:nth-child( 5 )
      z-index: 5
    &:nth-child( 6 )
      z-index: 6
    &:nth-child( 7 )
      z-index: 7
    .fieldset__h2
      box-sizing: border-box
      color: $fieldset__legend-color
      font-family: $Gotham-Bold
      font-size: 0.8125em // 14px
      line-height: 1.5em
      margin: 2.1428571429em 0 0.7142857143em // 30px 0 10px
      padding: 0 2.1em 0 5em // 0 29.4px 0 70px
      position: relative
      text-transform: uppercase
      width: 100vw
      .fieldset__legend
        color: $fieldset__strong-color
        display: inline
        float: left
        font-size: 4.3333333333em // 65px
        left: 5%
        position: absolute
        top: 50%
        transform: translate( 0, -50% )
    .fieldset__ul
      display: flex
      flex-flow: row wrap
      margin: 0 auto
      padding: 0
      width: 65vw
      .fieldset__li
        display: inline-flex
        cursor: pointer
        margin: 2.5% 4%
        width: 46%
        &:nth-child( even )
          margin-right: 0
        &:nth-child( odd )
          margin-left: 0
        .fieldset__label
          cursor: pointer
          display: block
          position: relative
          width: 100%
          .fieldset__figure
            cursor: pointer
            display: block
            margin: 0
            padding: 0
            position: relative
            width: 100%
            z-index: 0
            .fieldset__img
              cursor: pointer
              width: 100%
            .fieldset__caption
              background-color: $fieldset__figcaption-background-color
              color: $fieldset__figcaption-color
              cursor: pointer
              display: block
              font: normal 10px/1.2em $Gotham-Light
              text-align: left
              padding: 10px
              position: relative
          .fieldset__radio
            display: block
            height: 100%
            left: 0
            opacity: 0
            position: absolute
            top: 0
            width: 100%
            z-index: 1
      .fieldset__li--active
        border-radius: 5px
        border: 2px solid $fieldset__li-border-color
        box-shadow: 5px 5px 10px 0 rgba( 0, 0, 0, 0.5 )
        box-sizing: border-box
        overflow: hidden
    .fieldset__buttons
      display: flex
      flex-flow: row nowrap
      margin: 0 auto
      padding: 0
      width: 240px
      .button
        align-self: center
        border: 0 none transparent
        border-radius: 15px
        font: normal 11px/0 $Gotham-Bold
        margin-top: 1%
        padding: 20px 25px
        width: 118px
        &:disabled
          background-color: $fieldset__next--inactive-background-color
          color: $fieldset__next--active-color
        &:nth-child( odd )
          margin-left: 0
          margin-right: 5%
        &:nth-child( even )
          margin-right: 5%
          margin-left: 0
      .fieldset__cancel--active
        background-color: transparent
        border: 2px solid $fieldset__cancel--active-border-color
        color: $fieldset__cancel--active-color
      .fieldset__next--inactive
        background-color: $fieldset__next--inactive-background-color
        color: $fieldset__next--active-color
      .fieldset__next--active
        background-color: $fieldset__next--active-background-color
        color: $fieldset__next--active-color
  .fieldset--intro
    .fieldset__ul
      .fieldset__li
        .fieldset__label
          .fieldset__figure
            .fieldset__caption
              font: bold 13px/1.2em $Gotham-Bold
              text-align: center
  .fieldset--active
    animation: .5s ease 0s 1 normal forwards running slideIn
  .fieldset-down
    right: 0
    top: 0vh
  .fieldset--active-down
    animation: 1s ease-out 1s 1 normal forwards running slideDown
.form--overlay
  animation: 3s ease 0s 1 normal both running formInOut
.form--active
  animation: .1s ease 0s 1 normal forwards running formIn
.overlay
  align-items: center
  background-color: $overlay-background-color
  display: flex
  flex-flow: column nowrap
  left: 0
  justify-content: center
  position: absolute
  top: 0
  z-index: 2
  .modal
    align-items: center
    border-radius: 10px
    display: none
    flex-flow: row wrap
    justify-content: center
    padding: 50px
    .modal__ul
      align-items: center
      display: flex
      flex-flow: row nowrap
      justify-content: center
      margin: 0
      padding: 0
      width: 50%
      .modal__li
        align-items: center
        display: flex
        flex-flow: row wrap
        height: 30px
        justify-content: center
        margin: 10px
        width: 30px
        .modal__span
          background-color: $modal__li-background-color
          height: 20px
          width: 20px
        &:nth-child( 1 )
          .modal__span
            animation: 1.3s ease 0s infinite alternate forwards running bigCircles, 1.3s ease 4.2s infinite alternate forwards running smallCircles
        &:nth-child( 2 )
          .modal__span
            animation: 1.3s ease 1.3s infinite alternate forwards running bigCircles, 1.3s ease 5.5s infinite alternate forwards running smallCircles
        &:nth-child( 3 )
          .modal__span
            animation: 1.3s ease 2.6s infinite alternate forwards running bigCircles, 1.3s ease 6.8s infinite alternate forwards running smallCircles
        &:nth-child( 4 )
          .modal__span
            animation: 1.3s ease 3.9s infinite alternate forwards running bigCircles, 1.3s ease 7.1s infinite alternate forwards running smallCircles
        .modal__span
          background-color: $modal__li-background-color
          border-radius: 50%
          height: 20px
          width: 20px
    .modal__p
      color: $modal__p-color
      font: normal 1em/1.2em $Gotham-Book
      max-width: 500px
      text-align: center
      text-transform: uppercase
      width: 75%
.overlay--active
  animation: .5s ease-out 0s 1 normal both running showOverlay
  .modal
    display: flex
.results
  background-color: $results-background-color
  box-sizing: border-box
  display: block
  flex-flow: row nowrap
  height: 102vh
  padding: 10% 8%
  position: absolute
  right: -100vw
  top: 0
  width: 100vw
  z-index: 2
  .results__h3
    font: normal 20px/1.5em $Gotham-Bold
    margin: 10% 0 3%
    text-transform: uppercase
  .results__wrapper
    box-sizing: border-box
    .results__div--left
      width: 100%
      .results__img#dog-img
        width: 100%
    .results__div--right
      background-color: $results__wrapper-background-color
      margin: auto
      padding: 3% 5%
      position: relative
      width: 90%
      .results__h3
        font: normal 17px/1em $Gotham-Bold
        margin: 0
        text-transform: uppercase
      .results__p
        display: inline
        float: left
        font: normal 10px/1.2em $Gotham-Light
        width: 72%
        &:nth-child( 2 )
          width: 69%
      .results__img#product-img
        bottom: -20px
        right: -5px
        position: absolute
        width: 30%
    > .results__p
      .results__clear
        align-self: center
        background-color: $fieldset__next--active-background-color
        border: 0 none transparent
        border-radius: 20px
        clear: both
        color: $fieldset__next--active-color
        display: block
        font: normal 11px/0 $Gotham-Bold
        margin: 0 auto
        padding: 25px 15px
        width: 40%
.results--active
  animation: .5s ease-out 2s 1 normal both running resultsIn
.footer__nav
  background-color: $footer__nav-background-color
  display: table
  bottom: -7%
  height: 7%
  left: 0
  position: fixed
  width: 100%
  z-index: 10
  .footer__ul
    display: flex
    flex-flow: row nowrap
    height: 100%
    margin: 0 auto
    padding: 0
    width: 100%
    .footer__li, .footer__li--active
      box-sizing: border-box
      display: flex
      flex-flow: row nowrap
      height: 100%
      width: 12.5%
    .footer__li
      align-items: center
      display: flex
      flex-flow: row wrap
      justify-content: center
      position: relative
      .footer__background
        background-color: $footer__li--inactive-color
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 0
        z-index: 0
      .footer__p
        align-self: center
        color: $footer__p--inactive-color
        display: inline-block
        font: normal 11px/1.5em $Gotham-Bold
        margin: 0
        position: relative
        text-transform: uppercase
        z-index: 1
        .footer__a
          color: inherit
          text-decoration: none
        .footer__span
          background: url( "../img/huella-verde.png" ) no-repeat center center transparent
          display: block
          height: 30px
          margin: auto
          width: 30px
    .footer__li--active
      background-color: transparent
      border-right: 1px solid
      border: 0 none transparent
      .footer__background
        animation: .5s ease 0s 1 normal forwards running fillFooter
      .footer__p
        color: $footer__p-color
        .footer__span
          background: url( "../img/huella-blanca.png" ) no-repeat center center transparent
.footer__nav--active
  animation: .5s ease .5s 1 normal forwards running footerIn
