/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
 Base styles: opinionated defaults
 @mixin ========================================================================= */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
 Browser Upgrade Prompt
 @mixin ========================================================================= */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
 Author's custom styles
 @mixin ========================================================================= */
@font-face {
  font-family: "GothamBlack";
  src: url("../fonts/Gotham-Black.eot");
  src: url("../fonts/Gotham-Black.eot?#iefix") format("embedded-opentype");
  /* IE6-IE8 */
  src: url("../fonts/Gotham-Black.otf") format("opentype");
  /* Safari, Android, iOS */
  src: url("../fonts/Gotham-Black.ttf") format("truetype");
  /* Safari, Android, iOS */
  src: url("../fonts/Gotham-Black.woff") format("woff");
  /* Pretty Modern Browsers */
  src: url("../fonts/Gotham-Black.woff2") format("woff2");
  /* Super Modern Browsers */
  src: url("../fonts/Gotham-Black.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: "normal";
  font-style: "normal"; }

@font-face {
  font-family: "GothamBold";
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype");
  /* IE6-IE8 */
  src: url("../fonts/Gotham-Bold.otf") format("opentype");
  /* Safari, Android, iOS */
  src: url("../fonts/Gotham-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
  src: url("../fonts/Gotham-Bold.woff") format("woff");
  /* Pretty Modern Browsers */
  src: url("../fonts/Gotham-Bold.woff2") format("woff2");
  /* Super Modern Browsers */
  src: url("../fonts/Gotham-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: "normal";
  font-style: "bold"; }

@font-face {
  font-family: "GothamBook";
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype");
  /* IE6-IE8 */
  src: url("../fonts/Gotham-Book.otf") format("opentype");
  /* Safari, Android, iOS */
  src: url("../fonts/Gotham-Book.ttf") format("truetype");
  /* Safari, Android, iOS */
  src: url("../fonts/Gotham-Book.woff") format("woff");
  /* Pretty Modern Browsers */
  src: url("../fonts/Gotham-Book.woff2") format("woff2");
  /* Super Modern Browsers */
  src: url("../fonts/Gotham-Book.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: "normal";
  font-style: "bold"; }

@font-face {
  font-family: "GothamLight";
  src: url("../fonts/Gotham-Light.eot");
  src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype");
  /* IE6-IE8 */
  src: url("../fonts/Gotham-Light.otf") format("opentype");
  /* Safari, Android, iOS */
  src: url("../fonts/Gotham-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
  src: url("../fonts/Gotham-Light.woff") format("woff");
  /* Pretty Modern Browsers */
  src: url("../fonts/Gotham-Light.woff2") format("woff2");
  /* Super Modern Browsers */
  src: url("../fonts/Gotham-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: "normal";
  font-style: "normal"; }

@font-face {
  font-family: "GothamRoundedBook";
  src: url("../fonts/Gotham-Rounded-Book.eot");
  src: url("../fonts/Gotham-Rounded-Book.eot?#iefix") format("embedded-opentype");
  /* IE6-IE8 */
  src: url("../fonts/Gotham-Rounded-Book.otf") format("opentype");
  /* Safari, Android, iOS */
  src: url("../fonts/Gotham-Rounded-Book.ttf") format("truetype");
  /* Safari, Android, iOS */
  src: url("../fonts/Gotham-Rounded-Book.woff") format("woff");
  /* Pretty Modern Browsers */
  src: url("../fonts/Gotham-Rounded-Book.woff2") format("woff2");
  /* Super Modern Browsers */
  src: url("../fonts/Gotham-Rounded-Book.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: "normal";
  font-style: "normal"; }

@font-face {
  font-family: "GothamRoundedMedium";
  src: url("../fonts/Gotham-Rounded-Medium.eot");
  src: url("../fonts/Gotham-Rounded-Medium.eot?#iefix") format("embedded-opentype");
  /* IE6-IE8 */
  src: url("../fonts/Gotham-Rounded-Medium.otf") format("opentype");
  /* Safari, Android, iOS */
  src: url("../fonts/Gotham-Rounded-Medium.ttf") format("truetype");
  /* Safari, Android, iOS */
  src: url("../fonts/Gotham-Rounded-Medium.woff") format("woff");
  /* Pretty Modern Browsers */
  src: url("../fonts/Gotham-Rounded-Medium.woff2") format("woff2");
  /* Super Modern Browsers */
  src: url("../fonts/Gotham-Rounded-Medium.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: "normal";
  font-style: "normal"; }

@font-face {
  font-family: "LibelSuitRg";
  src: url("../fonts/Libel-Suit-rg.eot");
  src: url("../fonts/Libel-Suit-rg.eot?#iefix") format("embedded-opentype");
  /* IE6-IE8 */
  src: url("../fonts/Libel-Suit-rg.woff2") format("woff2");
  /* Super Modern Browsers */
  src: url("../fonts/Libel-Suit-rg.woff") format("woff");
  /* Pretty Modern Browsers */
  src: url("../fonts/Libel-Suit-rg.ttf") format("truetype");
  /* Safari, Android, iOS */
  src: url("../fonts/Libel-Suit-rg.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: "normal";
  font-style: "normal"; }

@-webkit-keyframes formIn {
  from {
    z-index: 1; }
  to {
    z-index: 2; } }

@keyframes formIn {
  from {
    z-index: 1; }
  to {
    z-index: 2; } }

@-webkit-keyframes formInOut {
  from {
    z-index: 1; }
  to {
    z-index: 3; } }

@keyframes formInOut {
  from {
    z-index: 1; }
  to {
    z-index: 3; } }

@-webkit-keyframes headerIn {
  from {
    top: -80px; }
  to {
    top: 0; } }

@keyframes headerIn {
  from {
    top: -80px; }
  to {
    top: 0; } }

@-webkit-keyframes footerIn {
  from {
    bottom: -7%; }
  to {
    bottom: 0; } }

@keyframes footerIn {
  from {
    bottom: -7%; }
  to {
    bottom: 0; } }

@-webkit-keyframes slideIn {
  from {
    right: -100vw; }
  to {
    right: 0vw; } }

@keyframes slideIn {
  from {
    right: -100vw; }
  to {
    right: 0vw; } }

@-webkit-keyframes slideOut {
  from {
    right: 0vw; }
  to {
    right: -100vw; } }

@keyframes slideOut {
  from {
    right: 0vw; }
  to {
    right: -100vw; } }

@-webkit-keyframes slideDown {
  from {
    top: -100vh; }
  to {
    top: 0vh; } }

@keyframes slideDown {
  from {
    top: -100vh; }
  to {
    top: 0vh; } }

@-webkit-keyframes resultsIn {
  from {
    right: -100vw; }
  to {
    right: 0vw; } }

@keyframes resultsIn {
  from {
    right: -100vw; }
  to {
    right: 0vw; } }

@-webkit-keyframes fillFooter {
  from {
    width: 0%; }
  to {
    width: 100%; } }

@keyframes fillFooter {
  from {
    width: 0%; }
  to {
    width: 100%; } }

@-webkit-keyframes showOverlay {
  0% {
    bottom: 50%;
    left: 50%;
    right: 50%;
    top: 50%; }
  50%, 100% {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0; } }

@keyframes showOverlay {
  0% {
    bottom: 50%;
    left: 50%;
    right: 50%;
    top: 50%; }
  50%, 100% {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0; } }

@-webkit-keyframes bigCircles {
  0% {
    background-color: #9B9B99; }
  70% {
    background-color: #41974F;
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2); }
  100% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); } }

@keyframes bigCircles {
  0% {
    background-color: #9B9B99; }
  70% {
    background-color: #41974F;
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2); }
  100% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); } }

@-webkit-keyframes smallCirles {
  0% {
    background-color: #41974F;
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }
  70%, 100% {
    background-color: #9B9B99;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@keyframes smallCirles {
  0% {
    background-color: #41974F;
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }
  70%, 100% {
    background-color: #9B9B99;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

/* animation: duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
html, body, main {
  background-color: #F7F6F3;
  display: table;
  height: 100%;
  position: relative;
  width: 100%; }

main {
  overflow: hidden; }

.button {
  border-radius: 1.25em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 1.1764705882em 2.0588235294em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

.header {
  background-color: #009B43;
  display: table;
  height: 7%;
  position: relative;
  width: 100%;
  z-index: 10; }
  .header .header__img {
    width: 30%;
    margin: 0.625em 1.25em; }
  .header .header__nav {
    display: none; }

.section, .form, .results {
  display: table; }

.section {
  background: url("../img/background.png") 40% bottom transparent;
  background-size: cover;
  height: 93vh;
  position: absolute;
  width: 100vw;
  z-index: 2; }
  .section .section__img {
    max-width: 253px;
    position: absolute;
    top: 1%;
    right: 0;
    width: 50%; }
  .section .section__img-logo {
    display: block;
    margin: 39.0625vw auto 0.625em;
    max-width: 284px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    width: 60%; }
  .section .section__h1 {
    color: #FFFFFF;
    font: 300 1.25em/1.2em "GothamLight";
    font-size: 1.25em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7); }
    .section .section__h1 .section__strong {
      font-family: "GothamBold";
      letter-spacing: 0.1px; }
    .section .section__h1 .section__span {
      font-family: "GothamBook";
      font-weight: 500; }
  .section .section__a {
    background-color: #009B43;
    color: #FFFFFF;
    font: normal 1em/1.2em "GothamBold";
    display: inline-block;
    margin: 0 auto;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
    .section .section__a:hover {
      background-color: #F7B52C; }

.form {
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 100vh;
  padding: 46 0 0;
  position: absolute;
  right: 0vw;
  top: 0;
  width: 100vw;
  z-index: 1; }
  .form .fieldset {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F7F6F3;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 13.125vw 0 12.6%;
    position: absolute;
    top: 0;
    right: -100vw;
    width: 100vw; }
    .form .fieldset:nth-child(1) {
      z-index: 1; }
    .form .fieldset:nth-child(2) {
      z-index: 2; }
    .form .fieldset:nth-child(3) {
      z-index: 3; }
    .form .fieldset:nth-child(4) {
      z-index: 4; }
    .form .fieldset:nth-child(5) {
      z-index: 5; }
    .form .fieldset:nth-child(6) {
      z-index: 6; }
    .form .fieldset:nth-child(7) {
      z-index: 7; }
    .form .fieldset .fieldset__h2 {
      box-sizing: border-box;
      color: #333333;
      font-family: "GothamBold";
      font-size: 0.8125em;
      line-height: 1.5em;
      margin: 1.875em 0 0.625em;
      padding: 0 2.1em 0 5em;
      position: relative;
      text-transform: uppercase;
      width: 100vw; }
      .form .fieldset .fieldset__h2 .fieldset__legend {
        color: #E0DED8;
        display: inline;
        float: left;
        font-size: 4.3333333333em;
        left: 5%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%); }
    .form .fieldset .fieldset__ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      margin: 0 auto;
      padding: 0;
      width: 80%; }
      .form .fieldset .fieldset__ul .fieldset__li {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        cursor: pointer;
        margin: 2.5% 4%;
        width: 36.5625vw; }
        .form .fieldset .fieldset__ul .fieldset__li:nth-child(even) {
          margin-right: 0; }
        .form .fieldset .fieldset__ul .fieldset__li:nth-child(odd) {
          margin-left: 0; }
        .form .fieldset .fieldset__ul .fieldset__li .fieldset__label {
          cursor: pointer;
          display: block;
          position: relative;
          width: 100%; }
          .form .fieldset .fieldset__ul .fieldset__li .fieldset__label .fieldset__figure {
            cursor: pointer;
            display: block;
            margin: 0;
            padding: 0;
            position: relative;
            width: 100%;
            z-index: 0; }
            .form .fieldset .fieldset__ul .fieldset__li .fieldset__label .fieldset__figure .fieldset__img {
              cursor: pointer;
              width: 100%; }
            .form .fieldset .fieldset__ul .fieldset__li .fieldset__label .fieldset__figure .fieldset__caption {
              background-color: #009C49;
              color: #FFFFFF;
              cursor: pointer;
              display: block;
              font: normal 9px/1.2em "GothamLight";
              text-align: left;
              padding: 10px;
              position: relative; }
          .form .fieldset .fieldset__ul .fieldset__li .fieldset__label .fieldset__radio {
            display: block;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1; }
      .form .fieldset .fieldset__ul .fieldset__li--active {
        border-radius: 5px;
        border: 2px solid #FCB62C;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        overflow: hidden; }
    .form .fieldset .fieldset__buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      margin: 0 auto;
      padding: 0;
      width: 240px; }
      .form .fieldset .fieldset__buttons .button {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        border: 0 none transparent;
        border-radius: 15px;
        font: normal 11px/0 "GothamBold";
        margin-top: 1%;
        padding: 20px 25px;
        width: 118px; }
        .form .fieldset .fieldset__buttons .button:disabled {
          background-color: #DADBDB;
          color: #FFFFFF; }
        .form .fieldset .fieldset__buttons .button:nth-child(odd) {
          margin-left: 0;
          margin-right: 5%; }
        .form .fieldset .fieldset__buttons .button:nth-child(even) {
          margin-right: 5%;
          margin-left: 0; }
      .form .fieldset .fieldset__buttons .fieldset__cancel--active {
        background-color: transparent;
        border: 2px solid #76C7A0;
        color: #76C7A0; }
      .form .fieldset .fieldset__buttons .fieldset__next--inactive {
        background-color: #DADBDB;
        color: #FFFFFF; }
      .form .fieldset .fieldset__buttons .fieldset__next--active {
        background-color: #009B43;
        color: #FFFFFF; }
  .form .fieldset--intro .fieldset__ul .fieldset__li .fieldset__label .fieldset__figure .fieldset__caption {
    font: bold 13px/1.2em "GothamBold";
    text-align: center; }
  .form .fieldset--active {
    -webkit-animation: .5s ease 0s 1 normal forwards running slideIn;
            animation: .5s ease 0s 1 normal forwards running slideIn; }
  .form .fieldset-down {
    right: 0;
    top: 0vh; }
  .form .fieldset--active-down {
    -webkit-animation: 1s ease-out 1s 1 normal forwards running slideDown;
            animation: 1s ease-out 1s 1 normal forwards running slideDown; }

.form--overlay {
  -webkit-animation: 3s ease 0s 1 normal both running formInOut;
          animation: 3s ease 0s 1 normal both running formInOut; }

.form--active {
  -webkit-animation: .1s ease 0s 1 normal forwards running formIn;
          animation: .1s ease 0s 1 normal forwards running formIn; }

.overlay {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  z-index: 2; }
  .overlay .modal {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px; }
    .overlay .modal .modal__ul {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0;
      padding: 0;
      width: 50%; }
      .overlay .modal .modal__ul .modal__li {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        height: 30px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 10px;
        width: 30px; }
        .overlay .modal .modal__ul .modal__li .modal__span {
          background-color: #9B9B99;
          height: 20px;
          width: 20px; }
        .overlay .modal .modal__ul .modal__li:nth-child(1) .modal__span {
          -webkit-animation: 1.3s ease 0s infinite alternate forwards running bigCircles, 1.3s ease 4.2s infinite alternate forwards running smallCircles;
                  animation: 1.3s ease 0s infinite alternate forwards running bigCircles, 1.3s ease 4.2s infinite alternate forwards running smallCircles; }
        .overlay .modal .modal__ul .modal__li:nth-child(2) .modal__span {
          -webkit-animation: 1.3s ease 1.3s infinite alternate forwards running bigCircles, 1.3s ease 5.5s infinite alternate forwards running smallCircles;
                  animation: 1.3s ease 1.3s infinite alternate forwards running bigCircles, 1.3s ease 5.5s infinite alternate forwards running smallCircles; }
        .overlay .modal .modal__ul .modal__li:nth-child(3) .modal__span {
          -webkit-animation: 1.3s ease 2.6s infinite alternate forwards running bigCircles, 1.3s ease 6.8s infinite alternate forwards running smallCircles;
                  animation: 1.3s ease 2.6s infinite alternate forwards running bigCircles, 1.3s ease 6.8s infinite alternate forwards running smallCircles; }
        .overlay .modal .modal__ul .modal__li:nth-child(4) .modal__span {
          -webkit-animation: 1.3s ease 3.9s infinite alternate forwards running bigCircles, 1.3s ease 7.1s infinite alternate forwards running smallCircles;
                  animation: 1.3s ease 3.9s infinite alternate forwards running bigCircles, 1.3s ease 7.1s infinite alternate forwards running smallCircles; }
        .overlay .modal .modal__ul .modal__li .modal__span {
          background-color: #9B9B99;
          border-radius: 50%;
          height: 20px;
          width: 20px; }
    .overlay .modal .modal__p {
      color: #9B9B99;
      font: normal 1em/1.2em "GothamBook";
      max-width: 500px;
      text-align: center;
      text-transform: uppercase;
      width: 75%; }

.overlay--active {
  -webkit-animation: .5s ease-out 0s 1 normal both running showOverlay;
          animation: .5s ease-out 0s 1 normal both running showOverlay; }
  .overlay--active .modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.results {
  background-color: #F7F6F3;
  box-sizing: border-box;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 102vh;
  padding: 10% 8%;
  position: absolute;
  right: -100vw;
  top: 0;
  width: 100vw;
  z-index: 2; }
  .results .results__h3 {
    font: normal 20px/1.5em "GothamBold";
    margin: 10% 0 3%;
    text-transform: uppercase; }
  .results .results__wrapper {
    box-sizing: border-box; }
    .results .results__wrapper .results__div--left {
      width: 100%; }
      .results .results__wrapper .results__div--left .results__img#dog-img {
        width: 100%; }
    .results .results__wrapper .results__div--right {
      background-color: #FFFFFF;
      margin: auto;
      padding: 3% 5%;
      position: relative;
      width: 90%; }
      .results .results__wrapper .results__div--right .results__h3 {
        font: normal 17px/1em "GothamBold";
        margin: 0;
        text-transform: uppercase; }
      .results .results__wrapper .results__div--right .results__p {
        display: inline;
        float: left;
        font: normal 10px/1.2em "GothamLight";
        width: 72%; }
        .results .results__wrapper .results__div--right .results__p:nth-child(2) {
          width: 69%; }
      .results .results__wrapper .results__div--right .results__img#product-img {
        bottom: -20px;
        right: -5px;
        position: absolute;
        width: 30%; }
    .results .results__wrapper > .results__p .results__clear {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      background-color: #009B43;
      border: 0 none transparent;
      border-radius: 20px;
      clear: both;
      color: #FFFFFF;
      display: block;
      font: normal 11px/0 "GothamBold";
      margin: 0 auto;
      padding: 25px 15px;
      width: 40%; }

.results--active {
  -webkit-animation: .5s ease-out 2s 1 normal both running resultsIn;
          animation: .5s ease-out 2s 1 normal both running resultsIn; }

.footer__nav {
  background-color: #009B43;
  display: table;
  bottom: -7%;
  height: 7%;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10; }
  .footer__nav .footer__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%; }
    .footer__nav .footer__ul .footer__li, .footer__nav .footer__ul .footer__li--active {
      box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      height: 100%;
      width: 12.5%; }
    .footer__nav .footer__ul .footer__li {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative; }
      .footer__nav .footer__ul .footer__li .footer__background {
        background-color: #008A42;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
        z-index: 0; }
      .footer__nav .footer__ul .footer__li .footer__p {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        color: #006539;
        display: inline-block;
        font: normal 11px/1.5em "GothamBold";
        margin: 0;
        position: relative;
        text-transform: uppercase;
        z-index: 1; }
        .footer__nav .footer__ul .footer__li .footer__p .footer__a {
          color: inherit;
          text-decoration: none; }
        .footer__nav .footer__ul .footer__li .footer__p .footer__span {
          background: url("../img/huella-verde.png") no-repeat center center transparent;
          display: block;
          height: 30px;
          margin: auto;
          width: 30px; }
    .footer__nav .footer__ul .footer__li--active {
      background-color: transparent;
      border-right: 1px solid;
      border: 0 none transparent; }
      .footer__nav .footer__ul .footer__li--active .footer__background {
        -webkit-animation: .5s ease 0s 1 normal forwards running fillFooter;
                animation: .5s ease 0s 1 normal forwards running fillFooter; }
      .footer__nav .footer__ul .footer__li--active .footer__p {
        color: #FFFFFF; }
        .footer__nav .footer__ul .footer__li--active .footer__p .footer__span {
          background: url("../img/huella-blanca.png") no-repeat center center transparent; }

.footer__nav--active {
  -webkit-animation: .5s ease .5s 1 normal forwards running footerIn;
          animation: .5s ease .5s 1 normal forwards running footerIn; }

/* ==========================================================================
 Helper classes
 @mixin ========================================================================= */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   @mixin ========================================================================= */
@media only screen and (min-width: 46.0625em) and (max-width: 63.9375em) {
  /* animation: duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
  .form .fieldset {
    padding: 71px 0 0; }
    .form .fieldset .fieldset__h2 {
      font-size: 1.5em;
      line-height: 1em;
      margin: 35px auto 25px;
      padding: 0;
      width: 480px; }
      .form .fieldset .fieldset__h2 .fieldset__legend {
        font-size: 2.45em;
        left: -60px;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
        top: 50%; }
    .form .fieldset .fieldset__ul {
      width: 68%; }
      .form .fieldset .fieldset__ul .fieldset__li {
        width: 31.2075983718vw; }
        .form .fieldset .fieldset__ul .fieldset__li .fieldset__label .fieldset__figure .fieldset__caption {
          font-size: 15px; }
  .results .results__h3 {
    margin: 3% 0; }
  .results .results__wrapper .results__div--right .results__p {
    font-size: 16px;
    width: 80%; }
  .results .results__wrapper > .results__p .results__clear {
    width: 20%; }
  .footer__nav .footer__ul .footer__li .footer__p {
    font-size: 1em; } }

@media only screen and (min-width: 64em) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .header .header__section {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      height: 80px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: calc( 194px + 830px); }
    .header .header__a-logo {
      width: 194px; }
      .header .header__a-logo .header__img {
        margin: 19px 10px;
        width: 90%; }
    .header .header__nav {
      display: block;
      height: 80px;
      margin: 0;
      position: relative;
      top: -80px;
      width: 830px; }
      .header .header__nav .header__ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        width: 100%; }
        .header .header__nav .header__ul .header__li, .header .header__nav .header__ul .header__li--active {
          box-sizing: border-box;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap;
          height: 100%;
          width: 103.75px; }
        .header .header__nav .header__ul .header__li {
          background-color: #008A42;
          border-right: 0.5px solid #FFFFFF;
          position: relative; }
          .header .header__nav .header__ul .header__li .header__background {
            background-color: #009B4A;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 0;
            z-index: 0; }
          .header .header__nav .header__ul .header__li .header__p {
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
            color: #006539;
            display: inline-block;
            font: normal 11px/1.5em "GothamLight";
            margin: 0;
            padding-left: 18px;
            position: relative;
            text-transform: uppercase;
            z-index: 1; }
            .header .header__nav .header__ul .header__li .header__p .header__a {
              color: inherit;
              text-decoration: none; }
        .header .header__nav .header__ul .header__li--active {
          background-color: transparent;
          border: none;
          border-bottom: 5px solid #006539; }
          .header .header__nav .header__ul .header__li--active .header__p {
            color: #FFFFFF; }
    .header .header__nav--active {
      -webkit-animation: .5s ease 0s 1 normal forwards running headerIn;
              animation: .5s ease 0s 1 normal forwards running headerIn; }
  .section {
    background-position: left top; }
    .section .section__div {
      position: absolute;
      right: 3.75em;
      width: 520px; }
    .section .section__img {
      top: 45px;
      right: -60px;
      width: auto; }
    .section .section__img-logo {
      margin: 180px auto 0;
      width: 52%; }
    .section .section__h1 {
      clear: both;
      color: #009B51;
      display: block;
      font-size: 48px;
      line-height: 1.3em;
      margin: 40px 0 0;
      text-shadow: unset; }
      .section .section__h1 .section__strong {
        font-size: 60px;
        color: #404041; }
    .section .section__a {
      font-size: 17px;
      left: 50%;
      letter-spacing: 1px;
      margin: 25px auto 0;
      position: relative;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
  .form {
    padding: 7.8125vw 0 0;
    right: 0; }
    .form .fieldset {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      top: 0;
      padding: 80px 0 0; }
      .form .fieldset .fieldset__h2 {
        font-size: 2.5em;
        font-weight: bold;
        line-height: 1em;
        margin: 55px auto 25px;
        padding: 0;
        width: 750px; }
        .form .fieldset .fieldset__h2 .fieldset__legend {
          font-size: 2.45em;
          left: -100px;
          -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
          top: 50%; }
      .form .fieldset .fieldset__ul {
        margin: 40px auto;
        width: 960px; }
        .form .fieldset .fieldset__ul .fieldset__li {
          width: 22%; }
          .form .fieldset .fieldset__ul .fieldset__li:nth-child(odd), .form .fieldset .fieldset__ul .fieldset__li:nth-child(even) {
            margin: 0 2%; }
          .form .fieldset .fieldset__ul .fieldset__li:first-child {
            margin-left: 0; }
          .form .fieldset .fieldset__ul .fieldset__li:last-child {
            margin-right: 0; }
          .form .fieldset .fieldset__ul .fieldset__li .fieldset__label .fieldset__figure .fieldset__caption {
            font-size: 0.9375em; }
      .form .fieldset .fieldset__buttons {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        margin: 50px auto 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 360px; }
        .form .fieldset .fieldset__buttons .button {
          font-size: 1em;
          padding: 30px 25px;
          width: 9.625em; }
          .form .fieldset .fieldset__buttons .button:nth-child(odd) {
            margin-left: 0; }
          .form .fieldset .fieldset__buttons .button:nth-child(even) {
            margin-left: 1.875em;
            margin-right: 0; }
    .form .fieldset--intro .fieldset__ul .fieldset__li {
      width: 30%; }
  .form--overlay {
    -webkit-animation: 3s ease 0s 1 normal both running formInOut;
            animation: 3s ease 0s 1 normal both running formInOut; }
  .form--active {
    -webkit-animation: .1s ease 0s 1 normal forwards running formIn;
            animation: .1s ease 0s 1 normal forwards running formIn; }
  .results {
    background-color: #F7F6F3;
    padding: 80px 2% 0; }
    .results .title.results__h3 {
      font-size: 2.5em;
      font-weight: bold;
      line-height: 1em;
      margin: 1.75em 0 1em;
      padding: 0; }
    .results .results__wrapper {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #F7F6F3;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .results .results__wrapper .results__div--left {
        -ms-flex-item-align: start;
            align-self: flex-start;
        display: block;
        height: 380px;
        overflow: hidden;
        width: 40%; }
        .results .results__wrapper .results__div--left .results__img#dog-img {
          height: 100%;
          left: 50%;
          position: relative;
          -webkit-transform: translate(-50%, 0);
                  transform: translate(-50%, 0);
          width: auto; }
      .results .results__wrapper .results__div--right {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #FFFFFF;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        height: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0;
        padding: 30px 0 30px 50px;
        position: relative;
        width: 60%; }
        .results .results__wrapper .results__div--right .results__h3 {
          -ms-flex-item-align: start;
              align-self: flex-start;
          font-size: 30px;
          line-height: 1em;
          margin: 0; }
        .results .results__wrapper .results__div--right .results__p {
          font-size: 16px;
          margin-left: 0;
          margin-right: 0;
          width: 70%; }
        .results .results__wrapper .results__div--right .results__img#product-img {
          margin: 0;
          position: absolute;
          right: -5.5%;
          top: 23%;
          width: 28%; }
      .results .results__wrapper .results__p {
        width: 100%; }
        .results .results__wrapper .results__p .results__clear {
          font-size: 1.125em;
          margin: 2.7777777778em auto;
          padding: 1.6666666667em 1.1111111111em;
          width: 16%; }
  .footer {
    display: none; }
  .results--active {
    -webkit-animation: .5s ease-out 2s 1 normal both running resultsIn;
            animation: .5s ease-out 2s 1 normal both running resultsIn; }
  .footer__nav {
    display: none; }
  .footer__nav--active {
    -webkit-animation: .5s ease .5s 1 normal forwards running footerIn;
            animation: .5s ease .5s 1 normal forwards running footerIn; } }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   @mixin ========================================================================= */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
/*# sourceMappingURL=main.css.map */