div.overlay
  div.modal
    ul.modal__ul
      li.modal__li
        span(aria-hidden="true").modal__span
      li.modal__li
        span(aria-hidden="true").modal__span
      li.modal__li
        span(aria-hidden="true").modal__span
      li.modal__li
        span(aria-hidden="true").modal__span
    p.modal__p.
      Espera un momento estamos descubriendo la personalidad de tu perro.