section.results
  h2.results__title Resultado
  article.results__wrapper
    div.left
      img(src="assets/img/Resultados/cierre_consentido.png", alt="Perro en una cama").dog.results__img
    div.right
      h3.results__subtitle Tu perro es un consentido
      p.results__description.
        Tu perro es un consentido: es tierno y
        chiquito, busca compañía todo el tiempo y
        es muy amigable aunque a veces se puede
        poner celoso. en cuanto te ve en el sillón es
        el primero en acercarse para estar cerca. Tu
        perro cae bien porque a la gente le gusta
        acariciarlo y decirle lo guapo que está.
      p.results__description.
        Aliméntalo con IAMS Cachorro que le
        brindará los nutrientes que necesitan, como
        los minerales esenciales para fortalecer sus
        huesos y DHA (Omega 3) para cachorros
        más inteligentes y fáciles de entrenar.
      div.results__product
        img(src="assets/img/Resultados/AlimentoCachorro.png", alt="Alimento para cachorro").product.results__img--product
    button.results__clear Repetir test