section.results#results
  h3.title.results__h3 Resultado
  article.results__wrapper
    div.results__div--left
      img(src="", alt="").results__img#dog-img
    div.clearfix.results__div--right
      h3.results__h3#results-title
      div.clearfix.results__message
      img(src="", alt="").results__img#product-img
    p.results__p
      a(href="index.html" title="Repetir test").button.results__clear#reinicialice Repetir test