section.section
  div.section__div
    img(src="assets/img/pleca-test.png", alt="Test").section__img
    img(src="assets/img/IAMS-logo.png", alt="IAMS").section__img-logo
    h1.section__h1.
      Descubre la <br />#[strong.section__strong personalidad] <br />#[span.section__span de tu perro]
    button(data-section="height").button.section__a#next-height Comenzar