fieldset.size
  legend.title.size__title <strong>4</strong> ¿Cómo describirías físicamente a tu perro?
  ul.size__list
    li.size__item
      label(for="size__fat-nor-thin").size__label
        figure.size__figure
          img(src="assets/img/4/nigordoniflaco-compressor.png", alt="Ni gordo, ni flaco").size__img
          figcaption.size__caption.
            Ni gordo ni flaco, pero es chiquito y engorda fácilmente
        input(type="radio", name="size", value="fat_nor_thin").size__radio#size__fat-nor-thin
    li.size__item
      label(for="size__thin").size__label
        figure.size__figure
          img(src="assets/img/4/delgado-compressor.png", alt="Delgado").size__img
          figcaption.size__caption.
            Creo que esta bajo de pero, se notan sus costillas
        input(type="radio", name="size", value="thin").size__radio#size__thin
    li.size__item
      label(for="size__muscular").size__label
        figure.size__figure
          img(src="assets/img/4/musculos-compressor.png", alt="Músculos").size__img
          figcaption.size__caption.
            Sus músculos no se ven ni se sientes fuertes, no están tan marcados
        input(type="radio", name="size", value="muscular").size__radio#size__muscular
    li.size__item
      label(for="size__overweight").size__label
        figure.size__figure
          img(src="assets/img/4/sobrepeso-compressor.png", alt="Sobrepeso").size__img
          figcaption.size__caption.
            Está pasado de peso y le cuesta mucho bajar de peso
        input(type="radio", name="size", value="overweight").size__radio#size__overweight
  ul.buttons.size__buttons
    button.button.size__cancel--active Cancelar
    button.button.size__next--inactive Siguiente