fieldset.fieldset.social#social
  h2.fieldset__h2 #[legend.fieldset__legend 6] ¿Cómo reacciona tu perro con la gente?
  ul.fieldset__ul
    li.fieldset__li
      label(for="social__closer").fieldset__label
        figure.fieldset__figure
          img(src="assets/img/6/acaricien-compressor.png", alt="Perro disfrutando de caricas").fieldset__img
          figcaption.fieldset__caption.
            Le encanta que lo acaricien y que le den amor
        input(type="radio", name="game", value="petting").fieldset__radio#social__petting
    li.fieldset__li
      label(for="social__playful").fieldset__label
        figure.fieldset__figure
          img(src="assets/img/6/nuevas-compressor.png", alt="Perro jugando con pelota").fieldset__img
          figcaption.fieldset__caption.
            ¡Nuevas personas!<br />¡Más amigos con quién jugar!
        input(type="radio", name="game", value="new").fieldset__radio#social__new
    li.fieldset__li
      label(for="social__hideaway").fieldset__label
        figure.fieldset__figure
          img(src="assets/img/6/ladra-compressor.png", alt="Perro oliendo una mano").fieldset__img
          figcaption.fieldset__caption.
            Les ladra, los huele para conocerlos y al final los acepta
        input(type="radio", name="game", value="bark").fieldset__radio#social__bark
    li.fieldset__li
      label(for="social__watch").fieldset__label
        figure.fieldset__figure
          img(src="assets/img/6/todos-compressor.png", alt="Perro dando la pata").fieldset__img
          figcaption.fieldset__caption.
            Ni le va ni le viene, todos sirven para darle de comer y pasearlo
        input(type="radio", name="game", value="all").fieldset__radio#social__all
  ul.fieldset__buttons
    button.button.fieldset__cancel--active Cancelar
    button.button.fieldset__next--inactive Siguiente