fieldset.fieldset.game.fieldset--inactive#game
  h2.fieldset__h2 #[legend.fieldset__legend 5] ¿Qué es lo que más cuidas de tu perro?
  ul.fieldset__ul
    li.fieldset__li
      label(for="game__closer").fieldset__label
        figure.fieldset__figure
          img(src="assets/img/5/cerca-compressor.png", alt="Perro cerca de su dueño").fieldset__img
          figcaption.fieldset__caption.
            No es mucho de jugar, prefiere estar cerca de mí
        input(type="radio", name="game", value="closer").fieldset__radio#game__closer
    li.fieldset__li
      label(for="game__playful").fieldset__label
        figure.fieldset__figure
          img(src="assets/img/5/zapatos-compressor.png", alt="Cachorro mordiendo un zapato").fieldset__img
          figcaption.fieldset__caption.
            La pelota, mis zapatos, todo es un juguete para él
        input(type="radio", name="game", value="playful").fieldset__radio#game__playful
    li.fieldset__li
      label(for="game__hideaway").fieldset__label
        figure.fieldset__figure
          img(src="assets/img/5/escondite-compressor.png", alt="Perro descubriendo un escondite").fieldset__img
          figcaption.fieldset__caption.
            Le escondo juguetes en la casa y él los encuentra
        input(type="radio", name="game", value="hideaway").fieldset__radio#game__hideaway
    li.fieldset__li
      label(for="game__watch").fieldset__label
        figure.fieldset__figure
          img(src="assets/img/5/viendo-compressor.png", alt="Perro viendo a tu amo").fieldset__img
          figcaption.fieldset__caption.
            Solo se me queda viendo cuando le aviento un juguete
        input(type="radio", name="game", value="watch").fieldset__radio#game__watch
  ul.fieldset__buttons
    button.button.fieldset__cancel--active Cancelar
    button.button.fieldset__next--inactive Siguiente