fieldset.fieldset.fieldset--intro.height#height
  h2.fieldset__h2 #[legend.fieldset__legend 1] ¿De qué tamaño es tu perro?
  ul.fieldset__ul
    li.fieldset__li
      label(for="height__small").fieldset__label
        figure.fieldset__figure
          img(src="assets/img/1/mini-compressor.png", alt="Tamaño de perro mini o chico").fieldset__img
          figcaption.fieldset__caption Mini o chico
        input(type="radio", name="height", value="small", checked).fieldset__radio#height__small
    li.fieldset__li
      label(for="height__medium").fieldset__label
        figure.fieldset__figure
          img(src="assets/img/1/mediano-compressor.png", alt="Tamaño de perro mediano").fieldset__img
          figcaption.fieldset__caption Mediano
        input(type="radio", name="height", value="medium").fieldset__radio#height__medium
    li.fieldset__li
      label(for="height__big").fieldset__label
        figure.fieldset__figure
          img(src="assets/img/1/grande-compressor.png", alt="Tamaño de perro grande").fieldset__img
          figcaption.fieldset__caption Grande
        input(type="radio", name="height", value="big").fieldset__radio#height__big
  ul.fieldset__buttons
    button.button.fieldset__cancel--active Cancelar
    button.button.fieldset__next--inactive Siguiente