fieldset.social
  legend.title.social__title <strong>6</strong> ¿Cómo reacciona tu perro con la gente?
  ul.social__list
    li.social__item
      label(for="social__closer").social__label
        figure.social__figure
          img(src="assets/img/6/acaricien-compressor.png", alt="Perro disfrutando de caricas").social__img
          figcaption.social__caption.
            Le encanta que lo acaricien y que le den amor
        input(type="radio", name="game", value="petting").social__radio#social__petting
    li.social__item
      label(for="social__playful").social__label
        figure.social__figure
          img(src="assets/img/6/nuevas-compressor.png", alt="Perro jugando con pelota").social__img
          figcaption.social__caption.
            ¡Nuevas personas!<br />¡Más amigos con quién jugar!
        input(type="radio", name="game", value="new").social__radio#social__new
    li.social__item
      label(for="social__hideaway").social__label
        figure.social__figure
          img(src="assets/img/6/ladra-compressor.png", alt="Perro oliendo una mano").social__img
          figcaption.social__caption.
            Les ladra, los huele para conocerlos y al final los acepta
        input(type="radio", name="game", value="bark").social__radio#social__bark
    li.social__item
      label(for="social__watch").social__label
        figure.social__figure
          img(src="assets/img/6/todos-compressor.png", alt="Perro dando la pata").social__img
          figcaption.social__caption.
            Ni le va ni le viene, todos sirven para darle de comer y pasearlo
        input(type="radio", name="game", value="all").social__radio#social__all
  ul.buttons.size__buttons
    button.button.size__cancel--active Cancelar
    button.button.size__next--inactive Siguiente