fieldset.height
  legend.title.height__title <strong>1</strong> ¿De qué tamaño es tu perro?
  ul.height__list
    li.height__item
      label(for="height__small").height__label
        figure.height__figure
          img(src="assets/img/1/mini-compressor.png", alt="Tamaño de perro mini o chico").height__img
          figcaption.height__caption Mini o chico
        input(type="radio", name="height", value="small", checked).height__radio#height__small
    li.height__item
      label(for="height__medium").height__label
        figure.height__figure
          img(src="assets/img/1/mediano-compressor.png", alt="Tamaño de perro mediano").height__img
          figcaption.height__caption Mediano
        input(type="radio", name="height", value="medium").height__radio#height__medium
    li.height__item
      label(for="height__big").height__label
        figure.height__figure
          img(src="assets/img/1/grande-compressor.png", alt="Tamaño de perro grande").height__img
          figcaption.height__caption Grande
        input(type="radio", name="height", value="big").height__radio#height__big
  ul.buttons.size__buttons
    button.button.size__cancel--active
    button.button.size__next--inactive