fieldset.fieldset.behavior#behavior
  h2.fieldset__h2 #[legend.fieldset__legend 3] ¿Cuál de estos comportamientos describe mejor a tu perro?
  ul.fieldset__ul
    li.fieldset__li
      label(for="behavior__nervous").fieldset__label
        figure.fieldset__figure
          img(src="assets/img/3/nervioso-compressor.png", alt="Adulto").fieldset__img
          figcaption.fieldset__caption.
            Es muy nervioso, oye un ruido y tiembla o ladra (después se le pasa).
        input(type="radio", name="behavior", value="nervous").fieldset__radio#behavior__nervous
    li.fieldset__li
      label(for="behavior__playful").fieldset__label
        figure.fieldset__figure
          img(src="assets/img/3/juguetes-compressor.png", alt="Senior").fieldset__img
          figcaption.fieldset__caption.
            Corre por el departamento, sus juguetes están tirados y nunca para.
        input(type="radio", name="behavior", value="playful").fieldset__radio#behavior__playful
    li.fieldset__li
      label(for="behavior__territorial").fieldset__label
        figure.fieldset__figure
          img(src="assets/img/3/territorial-compressor.png", alt="Senior").fieldset__img
          figcaption.fieldset__caption.
            Es territorial, nadie se sienta en su sillón y da vueltas en el patio todo el día.
        input(type="radio", name="behavior", value="territorial").fieldset__radio#behavior__territorial
    li.fieldset__li
      label(for="behavior__sleeps").fieldset__label
        figure.fieldset__figure
          img(src="assets/img/3/duerme-compressor.png", alt="Cachorro").fieldset__img
          figcaption.fieldset__caption.
            Duerme en donde sea, podría haber un concierto y no se despierta.
        input(type="radio", name="behavior", value="sleeps").fieldset__radio#behavior__sleeps
  ul.fieldset__buttons
    button.button.fieldset__cancel--active Cancelar
    button.button.fieldset__next--inactive Siguiente