header
  img(src="assets/img/iams.svg" alt="IAMS")
  nav.active
    ul
      li
        p
          a(href="" title="1. Tamaño").
             1.<br />
      li
        p
          a(href="" title="2. Edad").
             2.<br />Edad
      li
        p
          a(href="" title="3. Conducta").
             3.<br />Conducta
      li
        p
          a(href="" title="4. Talla").
             4.<br />Talla
      li
        p
          a(href="" title="5. Juego").
             5.<br />Juego
      li
        p
          a(href="" title="6. Social").
             6.<br />Social
      li
        p
          a(href="" title="7. Cuidado").
             7.<br />Cuidado
      li
        p
          a(href="" title="Resultado").
             Resultado