extends layout/layout.pug

block content
  section.section
    div.section__div
      img(src="assets/img/pleca-test.png", alt="Test").section__img
      img(src="assets/img/logoIAMS.svg", alt="IAMS").section__img-logo
      h1.section__h1.
        Descubre la <br />#[strong.section__strong personalidad] <br />#[span.section__span de tu perro]
      a(href="#" title="COMENZAR").button.section__a Comenzar
  form(action="action.php", method="POST").form
    include personality-test/step-one.pug
    include personality-test/step-two.pug
    include personality-test/step-three.pug
    include personality-test/step-four.pug
    include personality-test/step-five.pug
    include personality-test/step-six.pug
    include personality-test/step-seven.pug
  include personality-test/results.pug