extends layout/layout.pug

block content
  include personality-test/section.pug
  form(action="action.php", method="POST").form#form
    include personality-test/step-one.pug
    include personality-test/step-two.pug
    include personality-test/step-three.pug
    include personality-test/step-four.pug
    include personality-test/step-five.pug
    include personality-test/step-six.pug
    include personality-test/step-seven.pug
  include personality-test/overlay.pug
  include personality-test/results.pug

  include layout/footer.pug